<div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button type="button" class="mdl-snackbar__action"></button>
</div>

<script>
function showToast(message) {
  var notification = document.querySelector('.mdl-js-snackbar');
  notification.MaterialSnackbar.showSnackbar({
    message: message,
    timeout: 5000
  });
}

var messages = [
{% if error %}
  "{{error}}",
{% endif %}
{% for error in messages.errors %}
  "{{error.msg || error}}",
{% endfor %}
{% for success in messages.success %}
  "{{success.msg || success}}",
{% endfor %}
];

$(function() {
  setTimeout(function() {
    if (messages.length) {
      showToast(messages.join('<br>'));
    }
  }, 500);
});
</script>
