<div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button type="button" class="mdl-snackbar__action"></button>
</div>

<script>
function showToast(message) {
  var notification = document.querySelector('.mdl-js-snackbar');
  notification.MaterialSnackbar.showSnackbar({
    message: message,
    timeout: 5000
  });
}

$(function() {
  var messages = [
    {% for msg in messages.error %}
    "{{msg.msg || msg}}",
    {% endfor %}
    {% for msg in messages.success %}
    "{{msg.msg || msg}}",
    {% endfor %}
  ];

  setTimeout(function() {
    messages.forEach(function(msg) {
      showToast(msg);
    });
  }, 500);
});
</script>
