{% extends 'layouts/dashboard.html' %}

{% block title %}
{% if user.isOnboarded %}
Update billing information
{% else %}
Step 2: Billing
{% endif %}
{% endblock %}

{% block content %}
{% if !user.isOnboarded %}
<div class="short-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Step 2 of 3: Add billing information</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Please enter a credit card and billing information to be used for your monthly membership subscription. On the next screen, you will confirm your subscription amount and billing cycle before being charged.
  </div>
</div>
{% endif %}
{% if user.stripe.last4 %}
<div class="short-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__supporting-text">
    You have already registered your credit card ending in <b>{{user.stripe.last4}}</b>.<br><br>
    If you would like to change your billing information, please continue.
  </div>
</div>
{% endif %}
<div class="short-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__supporting-text">
    Please note that the credit card information you enter here will be sent directly to the <a href="https://stripe.com/docs/security/stripe" target="_blank">Stripe</a> servers using <a href="https://stripe.com/docs/security#tls" target="_blank">secure channel</a>, and your full billing information will never be transmitted to nor stored in the {{shortServiceName}} servers, except <a href="https://stripe.com/docs/security#out-of-scope-card-data" target="_blank">non-sensitive card information</a> such as the last 4 digits of the card.
  </div>
</div>
<form role="form" id="card-form" action="{{base_url}}/user/billing" method="POST">
  <div class="mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
      <input class="mdl-textfield__input" type="text" data-stripe="number" id="number" pattern="[0-9]{1,16}" data-required>
      <label class="mdl-textfield__label" for="number">Card number</label>
      <span class="mdl-textfield__error">Please input a valid credit card number</span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
      <input class="mdl-textfield__input" type="text" size="2" maxlength="2" data-stripe="exp_month" id="exp_month" pattern="[0-9]{1,2}" data-required>
      <label class="mdl-textfield__label" for="exp_month">MM</label>
      <span class="mdl-textfield__error">Please input a two-digit month</span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
      <input class="mdl-textfield__input" type="text" size="2" maxlength="2" data-stripe="exp_year" id="exp_year" pattern="[0-9]{1,2}" data-required>
      <label class="mdl-textfield__label" for="exp_year">YY</label>
      <span class="mdl-textfield__error">Please input a two-digit year</span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col">
      <input class="mdl-textfield__input" type="text" size="4" maxlength="4" data-stripe="cvc" id="cvc" pattern="[0-9]{1,4}" data-required>
      <label class="mdl-textfield__label" for="cvc">CVC</label>
      <span class="mdl-textfield__error">Please input a three-or-four-digit CVC</span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
      <input class="mdl-textfield__input" type="text" value="{{user.profile.displayName}}" data-stripe="name" id="name" data-required>
      <label class="mdl-textfield__label" for="name">Card holder name</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
      <input class="mdl-textfield__input" type="text" id="company_name" name="companyName" value="{{user.billing.companyName}}">
      <label class="mdl-textfield__label" for="company_name">Company name (optional)</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
      <input class="mdl-textfield__input" type="text" data-stripe="address_line1" id="address_line1" name="addressStreet" value="{{user.billing.address.street || user.profile.mailingAddress.street}}" data-required>
      <label class="mdl-textfield__label" for="address_line1">Billing address</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--8-col">
      <input class="mdl-textfield__input" type="text" data-stripe="address_city" id="address_city" name="addressCity" value="{{user.billing.address.city || user.profile.mailingAddress.city}}" data-required>
      <label class="mdl-textfield__label" for="address_city">City</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <input class="mdl-textfield__input" type="text" data-stripe="address_state" id="address_state" name="addressState" value="{{user.billing.address.state || user.profile.mailingAddress.state}}" data-required>
      <label class="mdl-textfield__label" for="address_state">Prefecture / state</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <input class="mdl-textfield__input" type="text" data-stripe="address_zip" id="address_zip" pattern="[-0-9]{1,8}" name="addressZip" value="{{user.billing.address.zip || user.profile.mailingAddress.zip}}" data-required>
      <label class="mdl-textfield__label" for="address_zip">Postal code</label>
      <span class="mdl-textfield__error">Please input valid postal code</span>
    </div>
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-cell mdl-cell--6-col">
      {% if user.stripe.plan %}
      Update
      {% else %}
      Save and review
      {% endif %}
    </button>
  </div>
</form>

<script>
jQuery(function($) {
  var cardForm = $('#card-form'),
  cardFormButton = cardForm.find('button');

  cardForm.submit(function(e) {
    e.preventDefault();

    cardFormButton.prop('disabled', true);

    Stripe.card.createToken(cardForm, function(status, response) {
      if (response.error) {
        showToast(response.error.message);
        cardFormButton.prop('disabled', false);
      } else {
        var token = response.id;
        cardForm.append($('<input type="hidden" name="stripeToken" />').val(token));
        cardForm.get(0).submit();
      }
    });

    return false;
  });
});
</script>
{% endblock %}
