{% extends 'layouts/plain.html' %}

{% block title %}Error{% endblock %}

{% block content %}
<div style="margin: 20px">
  <h1>Error</h1>
  {% if message %}
  <h5>{{message}}</h5>
  {% endif %}
  {% if error.stack %}
  <pre><code>{{error.stack}}</code></pre>
  {% elif error != message %}
  <pre><code>{{JSON.stringify(error, null, 2)}}</code></pre>
  {% endif %}
  <p>If this error is unexpected, please email x+260679654120467@mail.asana.com
  (CC'ing ryo@straylight.jp) with summary of the issue as the title, and all the
  details in this page as the body.
  </p>.
</div>
{% endblock %}
