{% extends 'layouts/plain.html' %}

{% block title %}Error{% endblock %}

{% block content %}
<h1>Error</h1>
{% if message %}
<h5>{{message}}</h5>
{% endif %}
{% if error.stack %}
<pre><code>{{error.stack}}</code></pre>
{% elif error != message %}
<pre><code>{{JSON.stringify(error, null, 2)}}</code></pre>
{% endif %}
<p>If you see this page, please file <a href="https://app.asana.com/0/260679654120467/list" target="_blank">an issue</a> at Asana under "User reports" section and assign it to Ryo with the full details on this page.
</p>.
{% endblock %}
