{% extends 'layouts/dashboard.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="wide-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Updates</h2>
  </div>
  <div class="mdl-card__supporting-text mdl-card--border">
    <h6 class="small-top-margin">2017/03/02</h6>
    DISCLAIMER: so far, we have only built the billing part. Your <a
    href="https://github.com/straylightlabs/straylightportal"
    target="_blank">contribution</a> is crucial to build the rest of the fun
    part.
  </div>
  <div class="mdl-card__supporting-text mdl-card--border">
    <h6 class="small-top-margin">2017/03/02</h6>
    Straylight Member Portal is the online counterpart of the Straylight One
    space. It's where you get to know members of the community who you haven't
    met yet, it's where you share and exchange valuable information
    exclusively with the community, and the last but not least, it's where you
    manage your membership subscription and billing :)
  </div>
</div>
{% endblock %}
