{% extends 'layouts/dashboard.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="wide-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Welcome</h2>
  </div>
  <div class="mdl-card__supporting-text mdl-card--border">
    <p>Thank you for completing your Straylight member registration via {{shortServiceName}}.
    <p>{{shortServiceName}} is a work in progress.
    Over time, it will be extended with more tools for managing Straylight One and new ways to connect and share information with other members.
    <p>If you would like to contribute or share feedback, please follow our project in <a href="https://app.asana.com/0/260679654120467/list"
    target="_blank">Asana</a> and <a
    href="https://github.com/straylightlabs/straylightportal"
    target="_blank">Github</a>.
  </div>
</div>

<div class="wide-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Important links</h2>
  </div>
  <div class="mdl-card__supporting-text mdl-card--border">
    <ul>
      <li>・<a href="https://docs.google.com/document/d/1mv7M2wITg8rKJGfZW7PB5AI7WgPZeqtaqGlZhIuSVwM/edit" target="_blank">Straylight One Troubleshooting Guide</a></li>
    </ul>
  </div>
</div>

<div class="wide-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Updates</h2>
  </div>
  <div class="mdl-card__supporting-text mdl-card--border">
    <h6 class="small-top-margin">2020/12/31</h6>
    v0.3.3: Fixed broken buttons.
  </div>
  <div class="mdl-card__supporting-text mdl-card--border">
    <h6 class="small-top-margin">2019/06/25</h6>
    v0.3.2: Fixed billing page for non-stripe users.
  </div>
  <div class="mdl-card__supporting-text mdl-card--border">
    <h6 class="small-top-margin">2018/08/01</h6>
    v0.3.1: Fixed the lock functionality.
  </div>
  <div class="mdl-card__supporting-text mdl-card--border">
    <h6 class="small-top-margin">2018/07/25</h6>
    v0.3.0: Guests page removed and events page was revamped.
  </div>
  <div class="mdl-card__supporting-text mdl-card--border">
    <h6 class="small-top-margin">2018/05/03</h6>
    v0.2.6: Added beacon scan logs to One page.
  </div>
  <div class="mdl-card__supporting-text mdl-card--border">
    <h6 class="small-top-margin">2018/04/04</h6>
    v0.2.5: Devices page now supports locking and unlocking 3C and 3D doors
    simultaneously.
  </div>
  <div class="mdl-card__supporting-text mdl-card--border">
    <h6 class="small-top-margin">2018/02/24</h6>
    v0.2.4: Events page has been added.
  </div>
  <div class="mdl-card__supporting-text mdl-card--border">
    <h6 class="small-top-margin">2017/05/24</h6>
    v0.2.3: You can now register multiple guests at once.
  </div>
  <div class="mdl-card__supporting-text mdl-card--border">
    <h6 class="small-top-margin">2017/05/23</h6>
    v0.2.2: Added LED control to the Devices page.
  </div>
  <div class="mdl-card__supporting-text mdl-card--border">
    <h6 class="small-top-margin">2017/03/28</h6>
    v0.2.1: Refined permission list.
  </div>
  <div class="mdl-card__supporting-text mdl-card--border">
    <h6 class="small-top-margin">2017/03/22</h6>
    v0.2: Added Straylight One page with remote lock control.
  </div>
  <div class="mdl-card__supporting-text">
    <h6 class="small-top-margin">2017/03/17</h6>
    {{shortServiceName}} v0.1 is launched to members. Please file bugs or feature requests via <a href="https://app.asana.com/0/260679654120467/list"
    target="_blank">Asana</a>.
  </div>
</div>
{% endblock %}
