{% extends 'layouts/plain.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class="welcome-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Welcome</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Straylight Member Portal is the online counterpart of the Straylight One
    space. It's where you get to know members of the community who you haven't
    met yet, it's where you share and exchange valuable information
    exclusively with the community, and the last but not least, it's where you
    manage your membership subscription and billing :)
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{base_url}}/auth/google">
      <span class="fa fa-google-plus"></span> Login
    </a>
  </div>
</div>
{% endblock %}
