{% extends 'layouts/plain.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class="welcome-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Welcome</h2>
  </div>
  <div class="mdl-card__supporting-text">
    The Straylight Portal is an online space for members to manage membership details and payments, connect with other members, register guests and events, and access other member services.
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{base_url}}/auth/google">
      <span class="fa fa-google-plus"></span> Login
    </a>
  </div>
</div>
{% endblock %}
