{% extends 'layouts/dashboard.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="container" style="max-width: 700px">
    <p class="center-text">
      Straylight Member Portal is the online counterpart of the Straylight One
      space. It's where you get to know members of the community who you haven't
      met yet, it's where you share and exchange valuable information
      exclusively with the community, and the last but not least, it's where you
      manage your membership subscription and billing :)
    </p>
    <p class="center-text">
      DISCLAIMER: so far, we have only built the billing part. Your <a
      href="https://github.com/straylightlabs/straylightportal"
      target="_blank">contribution</a> is crucial to build the rest of the fun
      part.
    </p>
    <hr>
    <p class="center-text">Please log in with your registered Google account.</p>
    <p class="center-text">
      <a href="/member/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
    </p>
  </div>
{% endblock %}
