{% extends 'layouts/dashboard.html' %}

{% block title %}Receipt{% endblock %}

{% block content %}
<p class="subtle-font">
Customer ID: {{invoice.customer}}<br>
Invoice ID: {{invoice.id}}<br>
Date: {{moment(invoice.date * 1000).format('YYYY-MM-DD')}}
</p>
<p>
<h4 class="small-top-margin">Straylight LLC</h4>
Motoyoyogicho 4-5<br>
Createur 3C<br>
Shibuya, Tokyo 151-0062<br>
03-5738-7695<br>
</p>
<p>
<h4>Billed to:</h4>
{{user.profile.displayName}}<br>
{% if user.billing.companyName %}
{{user.billing.companyName}}<br>
{% endif %}
{{user.billing.address.street}}<br>
{{user.billing.address.city}},
{{user.billing.address.state}},
{{user.billing.address.zip}}<br>
</p>
<table class="invoice-table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Item</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    {% for item in invoice.lines.data %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric">{{item.description || item.plan.name}}</td>
      <td>{{invoice.currency_symbol}}{{item.amount}}</td>
    </tr>
    {% endfor %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Subtotal</td>
      <td>{{invoice.currency_symbol}}{{invoice.subtotal}}</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Sales tax ({{invoice.tax_percent}}%)</td>
      <td>{{invoice.currency_symbol}}{{invoice.tax}}</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Total</td>
      <td>{{invoice.currency_symbol}}{{invoice.total}}</td>
    </tr>
  </tbody>
</table>
{% endblock %}

