{% extends 'layouts/dashboard.html' %}

{% block title %}Library{% endblock %}

{% block content %}

<div class="row">
  <div class="col s12 m8">
    <div class="card">
      <div class="card-content blue-grey darken-3 white-text">
        <span class="card-title no-space">Equipment and tools (“Utility Wall”)</span>
      </div>
      <div class="card-content">
        <p>Straylight maintains a library of shared tools, equipment, and other
        resources which can be used or borrowed by Straylight members. Many of
        these items can be found on the utility wall or in storage areas in
        Straylight One.</p>
        <br />
        <p>If you have interesting tools or items that you don’t mind sharing
        and may be useful to others, please consider bringing them into
        Straylight One to be added to the library. All items are registered in
        an Airtable database to maintain a record of who has loaned each
        item.</p>
        <br />
        <p>If you would like to borrow an item for external use, or see which items
        are currently checked out, please follow the links below.</p>
        <ul>
          <li><a href="https://airtable.com/shrC5Te55Q3dmAmTx" target="_blank" class="btn waves-effect waves-light blue-grey">Check out an item</a></li>
          <li><a href="https://airtable.com/shrGF4l8fbRaHetMV" target="_blank" class="btn waves-effect waves-light blue-grey">View currently checked-out items</a></li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-content blue-grey darken-3 white-text">
        <span class="card-title no-space">Digital resources</span>
      </div>
      <div class="card-content">
        <p>Our digital library contains learning materials, documents,
        templates, case studies, code, designs, recordings, software licenses,
        and other digital resources that may be useful to our community.</p>
        <br />
        <p>Many of these resources are byproducts of community projects and
        efforts (e.g. loan and planning documents for Straylight One, or code
        for Straylight Connect), while some are privately owned but shared for
        the general interest of our community (e.g. Continuum project
        resources).</p>
        <br />
        <p>While many of these resources would be easy to use outside of
        Straylight, we ask members to be respectful and cautious when making
        copies or derivative works for personal or commercial use, and when in
        doubt, please ask the original creator(s) about usage rights and
        permissions.</p>
        <ul>
          <li><a href="https://drive.google.com/drive/folders/0B3Eb6kOjpdMqdHVld0tMNE5jdEk" target="_blank" class="btn waves-effect waves-light blue-grey">Straylight Library</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
