{% extends 'layouts/dashboard.html' %}

{% block title %}Straylight One{% endblock %}

{% block content %}
<div class="wide-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Front door</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect mdl-cell mdl-cell--2-col" for="lock-switch">
      <input type="checkbox" id="lock-switch" class="mdl-switch__input" disabed="disabled" {% if locked %}checked="checked"{% endif %}>
      <span class="mdl-switch__label">{{ locked && 'Locked' || 'Unlocked' }}</span>
    </label>
  </div>
</div>
<script>
jQuery(function($) {
  var URL_BASE = 'http://192.168.0.3:8080';
  $.ajax(URL_BASE + '/status', {
    success: function(res) {
      $('#lock-switch').removeAttr('disabled');
    },
    timeout: 5000,
    error: function() {
      showToast('Failed to connect to the lock system');
    }
  });
  $('#lock-switch').change(function() {
    var action = this.checked ? '/lock' : '/unlock';
    $.ajax(URL_BASE + action, {
      timeout: 5000,
      error: function() {
        $('#lock-switch').attr('disabled', 'disabled');
        showToast('Failed to connect to the lock system');
      }
    });
  });
});
</script>
{% endblock %}

