{% extends 'layouts/dashboard.html' %}

{% block title %}Straylight One Devices{% endblock %}

{% block content %}
<div class="wide-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Door</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p>The door of Straylight One is currently <strong>{{ locked && 'locked' || 'unlocked' }}</strong>.<p>
    <p>
      <form action="{{ base_url }}/one/lock" method="post">
        <input type="hidden" name="action" value="{{ locked && 'unlock' || 'lock' }}" />
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" {% if !fromTrustedNetwork %}disabled="disabled"{% endif %}>
          <i class="material-icons" role="presentation" style="font-size: 18px">{{ locked && 'lock_open' || 'lock' }}</i> {{ locked && 'Unlock' || 'Lock' }}
        </button>
      </form>
    </p>
    {% if !fromTrustedNetwork %}
    <p style="color: red">We cannot verify your proximity to Straylight One.
    Please make sure you are nearby and connected to the STRAYLIGHT wifi
    network.</p>
    {% endif %}
  </div>
</div>
{% endblock %}

