{% extends 'layouts/dashboard.html' %}

{% block title %}Straylight One Devices{% endblock %}

{% block content %}
<div class="wide-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Lock</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p>The door of Straylight One is currently <strong>{{ locked && 'locked' || 'unlocked' }}</strong>.<p>
    <p>
      <form action="{{ base_url }}/one/lock" method="post">
        <input type="hidden" name="action" value="{{ locked && 'unlock' || 'lock' }}" />
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" {% if !fromTrustedNetwork || lockUnreachable %}disabled="disabled"{% endif %}>
          <i class="material-icons" role="presentation" style="font-size: 18px">{{ locked && 'lock_open' || 'lock' }}</i> {{ locked && 'Unlock' || 'Lock' }}
        </button>
      </form>
    </p>
    {% if !fromTrustedNetwork %}
    <p style="color: red">We cannot verify your proximity to Straylight One.
    Please make sure you are nearby and connected to the STRAYLIGHT wifi
    network.</p>
    {% endif %}
    {% if lockUnreachable %}
    <p style="color: red">Lock server is currently unreachable. This is a known
    issue, and Ryo is looking into it.</p>
    {% endif %}
  </div>
</div>

<div class="wide-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Door</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p>LED installation on the door has a few pre-programmed patterns that can be played. We are looking forward to <a href="https://app.asana.com/0/249990253550854/list" target="_blank">suggestions</a> for new patterns.</p>
    <p>
      <form action="{{ base_url }}/one/door" method="post">
        <input type="hidden" name="pattern" value="rainbow" />
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" {% if !fromTrustedNetwork %}disabled="disabled"{% endif %}>
          Play rainbow pattern
        </button>
      </form>
    <p>
    </p>
      <form action="{{ base_url }}/one/door" method="post">
        <input type="hidden" name="pattern" value="flicker" />
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" {% if !fromTrustedNetwork %}disabled="disabled"{% endif %}>
          Start flicker pattern
        </button>
      </form>
    <p>
    </p>
      <form action="{{ base_url }}/one/door" method="post">
        <input type="hidden" name="pattern" value="clear" />
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" {% if !fromTrustedNetwork %}disabled="disabled"{% endif %}>
          Clear pattern
        </button>
      </form>
    </p>
    {% if !fromTrustedNetwork %}
    <p style="color: red">We cannot verify your proximity to Straylight One.
    Please make sure you are at or nearby and connected to the STRAYLIGHT wifi
    network.</p>
    {% endif %}
  </div>
</div>

<div class="wide-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Present members</h2>
  </div>
  <div class="mdl-card__supporting-text">
    {% if presentMembers %}
    <ul>
      {% for member in presentMembers %}
      <li>- {{member.firstName}}</li>
      {% endfor %}
    </ul>
    {% else %}
    No one is at Straylight now.
    {% endif %}
  </div>
</div>

<div class="wide-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Beacon scan logs</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div style="max-height: 400px; overflow: scroll;">
      {% for log in scanLogs %}
      {{moment(log.date).format('YYYY/MM/DD HH:mm:ss')}}: {{log.member.firstName || log.id}}<br />
      {% endfor %}
    </div>
</div>

{% endblock %}

