{% extends 'layouts/dashboard.html' %}

{% block title %}Update Profile{% endblock %}

{% block content %}
<form id="profile-form" action="/portal/user/profile" method="post" enctype="multipart/form-data">
  <div class="mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--8-col">
      <input class="mdl-textfield__input" type="text" value="{{user.profile.displayName}}" id="full-name" name="displayName">
      <label class="mdl-textfield__label" for="full-name">Full Name</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--file mdl-cell mdl-cell--8-col">
      <input class="mdl-textfield__input" placeholder="Profile Photo" type="text" id="upload-file" readonly/>
      <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
	<i class="material-icons">attach_file</i><input type="file" name="avatar" id="upload-button">
      </div>
    </div>
    {% if user.profile.imageUrl %}
    <img src="{{user.profile.imageUrl}}" alt="profile image" class="avatar mdl-cell mdl-cell--4-col">
    {% endif %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--8-col">
      <input class="mdl-textfield__input" type="text" value="{{user.profile.mailingAddress.value}}" id="mailing-address" name="mailingAddress">
      <label class="mdl-textfield__label" for="mailing-address">Mailing Address</label>
    </div>
    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect mdl-cell mdl-cell--4-col" for="mailing-address-private">
      <input type="checkbox" id="mailing-address-private" class="mdl-switch__input" {% if user.profile.mobilePhone.isPrivate %}checked{% endif %} name="mailingAddressPrivate" value="1">
      <span class="mdl-switch__label">Private</span>
    </label>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--3-col">
      <input class="mdl-textfield__input" type="text" value="{{user.profile.mobilePhone.value.split(' ')[0]}}" id="mobile-phone-country-code" name="mobilePhoneCountryCode" pattern="[+]?[0-9]{1,3}">
      <label class="mdl-textfield__label" for="mobile-phone-country-code">Country Code</label>
      <span class="mdl-textfield__error">Example: +81</span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--5-col">
      <input class="mdl-textfield__input" type="text" value="{{user.profile.mobilePhone.value.split(' ')[1]}}" id="mobile-phone" name="mobilePhone" pattern="[0-9]{1,15}">
      <label class="mdl-textfield__label" for="mobile-phone">Mobile Phone</label>
      <span class="mdl-textfield__error">Example: 8012345678</span>
    </div>
    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect mdl-cell mdl-cell--4-col" for="mobile-phone-private">
      <input type="checkbox" id="mobile-phone-private" class="mdl-switch__input" {% if user.profile.mobilePhone.isPrivate %}checked{% endif %} name="mobilePhonePrivate" value="1">
      <span class="mdl-switch__label">Private</span>
    </label>
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-cell mdl-cell--6-col">
      Save{% if !user.profile.isConfirmed %} and continue{% endif %}
    </button>
  </div>
</form>
{% endblock %}
