{% extends 'layouts/dashboard.html' %}

{% block title %}Permissions{% endblock %}

{% block content %}
<div class="wide-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Permissions</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p>You need to authorize additional permissions for your Google account to
    access this feature. If you decide to continue, please click on the Continue
    button and authorize the request.</p>
    {% for scope in scopes %}
    {% if scope.includes('calendar') %}
    <p>We are requesting access to your calendar in order to automatically
    generate calendar events when you register a guest visit. You can see
    <a href="https://app.asana.com/0/260679654120467/302073946971240" target="_blank">more discussion</a> on this at Asana.</p>
    {% endif %}
    {% endfor %}
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{base_url}}/auth/google?scope={{encodeURIComponent(scopes.join(','))}}">
      <span class="fa fa-google-plus"></span> Continue
    </a>
  </div>
</div>
{% endblock %}

