{% extends 'layouts/dashboard.html' %}

{% block title %}Subscription{% endblock %}

{% block content %}
<h6>Upcoming payment</h6>
<table class="payment-table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Date</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">{{moment(upcomingInvoice.date * 1000).format('YYYY-MM-DD')}}</td>
      <td>{{upcomingInvoice.currency_symbol}}{{upcomingInvoice.amount_due}} (tax inclusive)</td>
    </tr>
  </tbody>
</table>
{% if invoices.length > 0 %}
<h6>Past payments</h6>
<table class="payment-table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Date</th>
      <th>Price</th>
      <th class="mdl-data-table__cell--non-numeric">Invoice</th>
    </tr>
  </thead>
  <tbody>
    {% for invoice in invoices %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric">{{moment(invoice.date * 1000).format('YYYY-MM-DD')}}</td>
      <td>{{invoice.currency_symbol}}{{invoice.amount_due}} (tax inclusive)</td>
      <td class="mdl-data-table__cell--non-numeric"><a href="/portal/invoice?id={{invoice.id}}">link</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% if !user.stripe.plan %}
<form role="form" action="/portal/user/subscription" method="POST">
  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Confirm and process payment
  </button>
</form>
{% else %}
<form role="form" action="/portal/user/subscription/cancel" method="POST" class="confirmation">
  <div class="short-card mdl-card mdl-shadow--2dp hidden">
    <div class="mdl-card__supporting-text" style="color: red">
      Please confirm that you are canceling your membership subscription. This
      will mean losing access to all the member benefits including Straylight
      One space.
    </div>
  </div>
  <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect">
    Cancel subscription
  </button>
</form>
{% endif %}
</div>
{% endblock %}
