{% extends 'layouts/dashboard.html' %}

{% block title %}
{% if user.isOnboarded %}
Your subscription
{% else %}
Step 3: Pay
{% endif %}
{% endblock %}

{% block content %}
{% if oneTimeInvoice %}
{% if !user.isOnboarded %}
<div class="short-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Step 3 of 3: Confirm your subscription</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Please confirm your subscription amount and payment schedule.
  </div>
</div>
{% endif %}
<div class="wide-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Your first payment</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p>Your Straylight {{oneTimeInvoice.plan_name}} membership began on {{oneTimeInvoice.from_date}}. 
    Your monthly membership fee is {{oneTimeInvoice.currency_symbol}}{{oneTimeInvoice.subscription_rate}}.
    <p>Please authorize a one-time payment of 
      <b>{{oneTimeInvoice.currency_symbol}}{{oneTimeInvoice.amount_due_tax}} (tax inclusive)</b> 
      for the period between {{oneTimeInvoice.from_date}} and {{oneTimeInvoice.to_date}}.
    <p>Starting next month, your membership fee will be charged automatically on the first day of each month.
  </div>
</div>
{% endif %}

<div class="wide-card no-padding mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Upcoming payments</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <table class="payment-table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Date</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">{{moment(upcomingInvoice.date * 1000).format('YYYY-MM-DD')}}</td>
          <td>{{upcomingInvoice.currency_symbol}}{{upcomingInvoice.amount_due}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% if invoices.length > 0 %}
<div class="wide-card no-padding mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Past payments</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <table class="payment-table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Date</th>
          <th>Amount</th>
          <th class="mdl-data-table__cell--non-numeric">Receipt</th>
        </tr>
      </thead>
      <tbody>
        {% for invoice in invoices %}
        {% if invoice.amount_due > 0 %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">{{moment(invoice.date * 1000).format('YYYY-MM-DD')}}</td>
          <td>{{invoice.currency_symbol}}{{invoice.amount_due}}</td>
          <td class="mdl-data-table__cell--non-numeric"><a href="{{base_url}}/invoice?id={{invoice.id}}">View receipt</a></td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

<p class="caption">Amounts are tax inclusive</p>

{% if !user.stripe.plan %}
<form role="form" action="{{base_url}}/user/subscription" method="POST">
  {% if oneTimeInvoice %}
  <input type="hidden" name="oneTimeInvoice" value="{{encodeURIComponent(JSON.stringify(oneTimeInvoice))}}">
  {% endif %}
  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Confirm and process payment
  </button>
</form>
{% else %}
<a href="{{base_url}}/billing" class="mdl-button mdl-js-button mdl-js-ripple-effect">
  Update billing information
</a>
<form role="form" action="{{base_url}}/user/subscription/cancel" method="POST" class="confirmation">
  <div class="short-card mdl-card mdl-shadow--2dp hidden">
    <div class="mdl-card__supporting-text" style="color: red">
      Please confirm that you are canceling your membership to Straylight.
      Note that all member benefits, including access to Straylight One, will be immediately revoked.
      Reinstating membership during the month of cancellation may result in additional charges.
      Please proceed with care.
    </div>
  </div>
  <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect">
    Cancel subscription
  </button>
</form>
{% endif %}

<script>
jQuery(function($) {
  $('.confirmation button').click(function(e) {
    var button = $(this);
    if (button.attr('confirmed')) {
      return;
    }

    e.preventDefault();
    $('.confirmation .short-card').removeClass('hidden');
    button.html('Yes, proceed');
    button.attr('confirmed', 'true');
  });
  $('form').submit(function() {
    $(this).find("button[type='submit']").prop('disabled',true);
  });
});
</script>
{% endblock %}
