{% extends 'layouts/dashboard.html' %}

{% block title %}Subscription{% endblock %}

{% block content %}
{% if oneTimeInvoice %}
<div class="wide-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Pending Payment</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <p>Please authorize one-time, prorated payment of
    {{oneTimeInvoice.currency_symbol}}{{oneTimeInvoice.amount_due}} (tax exclusive) for
    {{oneTimeInvoice.description}}.
    <p>From the next month onwards, you will be
    automatically charged the monthly membership fee on 25th of every month.
  </div>
</div>
{% endif %}

<div class="wide-card no-padding mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Upcoming Payments</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <table class="payment-table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Date</th>
          <th>Price (tax inclusive)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">{{moment(upcomingInvoice.date * 1000).format('YYYY-MM-DD')}}</td>
          <td>{{upcomingInvoice.currency_symbol}}{{upcomingInvoice.amount_due}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% if invoices.length > 0 %}
<div class="wide-card no-padding mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Past Payments</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <table class="payment-table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Date</th>
          <th>Price (tax inclusive)</th>
          <th class="mdl-data-table__cell--non-numeric">Invoice</th>
        </tr>
      </thead>
      <tbody>
        {% for invoice in invoices %}
        {% if invoice.amount_due > 0 %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">{{moment(invoice.date * 1000).format('YYYY-MM-DD')}}</td>
          <td>{{invoice.currency_symbol}}{{invoice.amount_due}}</td>
          <td class="mdl-data-table__cell--non-numeric"><a href="{{base_url}}/invoice?id={{invoice.id}}">link</a></td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

{% if !user.stripe.plan %}
<form role="form" action="{{base_url}}/user/subscription" method="POST">
  {% if oneTimeInvoice %}
  <input type="hidden" name="oneTimeInvoice" value="{{encodeURIComponent(JSON.stringify(oneTimeInvoice))}}">
  {% endif %}
  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Confirm and process payment
  </button>
</form>
{% else %}
<form role="form" action="{{base_url}}/user/subscription/cancel" method="POST" class="confirmation">
  <div class="short-card mdl-card mdl-shadow--2dp hidden">
    <div class="mdl-card__supporting-text" style="color: red">
      Please confirm that you are canceling your membership subscription. This
      will mean losing access to all the member benefits including Straylight
      One space. Note that reinstating membership during the month of
      cancellation may result in additional charges, so please proceed with
      care.
    </div>
  </div>
  <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect">
    Cancel subscription
  </button>
</form>
{% endif %}

<script>
jQuery(function($) {
  $('.confirmation button').click(function(e) {
    var button = $(this);
    if (button.attr('confirmed')) {
      return;
    }

    e.preventDefault();
    $('.confirmation .short-card').removeClass('hidden');
    button.html('Yes, proceed');
    button.attr('confirmed', 'true');
  });
});
</script>
{% endblock %}
