{% extends 'base.html' %}

{% block body %}
<div class="sl-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{% block title %}{% endblock %}</span>
    </div>
  </header> <!-- header -->
  <div class="mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <header>
      <img src="{{ user.profileImageAbsoluteUrl(base_url) }}" class="avatar">
      <div class="avatar-dropdown">
        <span>{{ user.email }}</span>
        <div class="mdl-layout-spacer"></div>
        <button id="account_menu_button" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
          <i class="material-icons" role="presentation">arrow_drop_down</i><span class="visuallyhidden">Account menu</span>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="account_menu_button">
          <a href="{{base_url}}/profile"><li class="mdl-menu__item">Profile</li></a>
          <a href="{{base_url}}/logout"><li class="mdl-menu__item">Logout</li></a>
        </ul>
      </div>
    </header>
    <nav class="mdl-navigation mdl-color--blue-grey-800">
      <a class="mdl-navigation__link" href="{{base_url}}/profile"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">account_box</i>Profile</a>
      <a class="mdl-navigation__link" href="{{base_url}}/members"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Members</a>
      <a class="mdl-navigation__link" href="{{base_url}}{% if user.stripe.last4 %}/subscription{% else %}/billing{% endif %}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">credit_card</i>Payments</a>
      <a class="mdl-navigation__link" href="{{base_url}}/guests"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">person_add</i>Guests</a>
      <a class="mdl-navigation__link" href="{{base_url}}/events"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">event</i>Events</a>
      <a class="mdl-navigation__link" href="{{base_url}}/library"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_library</i>Library</a>
      <a class="mdl-navigation__link" href="{{base_url}}/one"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">settings_remote</i>Devices</a>
    </nav>
  </div> <!-- drawer -->
  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="content">
      {%- block content -%}{%- endblock -%}
    </div>
  </main> <!-- content -->
</div>
{% endblock %}
