<form id="password-form" action="/campout/password" method="POST">
  <input type="password" class="form-control" name="password" placeholder="Password">
  <button type="submit" class="btn btn-default">Proceed / 次へ</button>
</form>
