<p>Your scheduled visit to Straylight One is confirmed:

<p>
{{name}}<br>
{{reservedDate}} at {{reservedTime}}<br>
{{email}}<br>
{{#mobile}}
  {{mobile}}<br>
{{/mobile}}

<p>Straylight One is located 1-minute west of Yoyogi-Hachiman Station in the
Createur Building.

<p>Straylight<br>
Createur 3C, 4-5 Motoyoyogicho<br>
Shibuya-ku, Tokyo 151-0062<br>
<a href="https://goo.gl/maps/nd4kzhkqAax" target="_blank">Google Maps</a><br>

<p>The photograph included with your mailed invitation is a key. Follow the
stairs up to 3rd floor, head to the door on your left, and tap your photo
against the indicator to open the door.

<p>If you have any questions or need to change your reservation, please email
one@straylight.jp.

