Your scheduled visit to Straylight One is confirmed:

{{name}}
{{reservedDate}} at {{reservedTime}}
{{email}}
{{#mobile}}{{mobile}}{{/mobile}}

Straylight One is located 1-minute west of Yoyogi-Hachiman Station in the
Createur Building.

Straylight
Createur 3C, 4-5 Motoyoyogicho
Shibuya-ku, Tokyo 151-0062
https://goo.gl/maps/nd3kzhkqAax

The photograph included with your mailed invitation is a key. Follow the stairs
up to 3rd floor, head to the door on your left, and tap your photo against the
indicator to open the door.

If you have any questions or need to change your reservation, please reply to
this email or write to one@straylight.jp.

