<p>Dear {{firstName}},
<p>Thank you for your interest in Straylight. We look forward to hosting you for a discussion about membership and next steps.
<p>Please send email to one@straylight.jp or contact a member to schedule your visit.
<p>Straylight

